:root.theme-light {
  --main-text-color: var(--black_light-theme, #353430);
  --accent-text-color: var(--black_light-theme, #353430);
  --sub-accent-text-color: var(--black_light-theme, #353430);
  --bg-color-accent-text: var(--dark-pink_light-theme, #FF8DCB);
  --heading-text-color: var(--pink_light-theme, #FFC2E6);
  --main-bg-color: var(--light-pink_light-theme, #FFF1F7);
  --border-color-pseudo: var(--black_light-theme, #353430);
  --border-color-hover-button: var(--black_light-theme-opacity, #32312D66);
}

.theme-light .page {
  background-image: url(../images/cover-image-light.png);
}

.theme-light .decoration-cam { 
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: var(--black_light-theme, #353430);
    --accent-text-color: var(--black_light-theme, #353430);
    --sub-accent-text-color: var(--black_light-theme, #353430);
    --bg-color-accent-text: var(--dark-pink_light-theme, #FF8DCB);
    --heading-text-color: var(--pink_light-theme, #FFC2E6);
    --main-bg-color: var(--light-pink_light-theme, #FFF1F7);
    --border-color-pseudo: var(--black_light-theme, #353430);
    --border-color-hover-button: var(--black_light-theme-opacity, #32312D66);
  }  

  .page { 
    background-image: url(../images/cover-image-light.png);
  }

  .decoration-cam { 
    display: none;
  }
}